.header {
    overflow: hidden;
    background-color: #f7f7f7;
    padding: 20px 10px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 28px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-family: 'Lobster', cursive;
    font-size: 35px;
    font-weight: bold;
}

.header-right a:hover {
    text-decoration: underline;
    color: black;
}

.header a.active {
    text-decoration: underline;
}

.header-right {
    float: right;
    font-family: 'Staatliches', cursive;
}

body {
    background-image: url('pictures/background3.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center; 
    font-family: 'Roboto', sans-serif;
}

.background {
    background-color: #f7f7f7;
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
    padding-right: 70px;
}

.profile_picture {
    max-width: 100%;
    height: auto;
}

.wrapper {
    margin: auto;
    max-width: 75rem;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .flex_container {
    display: flex;
  }

  .flex_item {
    flex: 1;
    margin-left: 110px;
  }