
/*Header*/
.header {
    overflow: hidden;
    background-color: #f7f7f7;
    padding: 20px 10px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 28px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-family: 'Lobster', cursive;
    font-size: 35px;
    font-weight: bold;
}

.header-right a:hover {
    text-decoration: underline;
    color: black;
}

.header a.active {
    text-decoration: underline;
}

.header-right {
    float: right;
    font-family: 'Staatliches', cursive;
}


/*Footer*/
.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 10px;
    z-index: -1;
}

.footerMobile {
    text-align: right;
    visibility: hidden;
    margin-right: 15px;
}


/*Body*/
body {
    background-image: url('pictures/background3.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center; 
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Staatliches', cursive;
    letter-spacing: 2px;
    font-size: 35px;
    text-decoration: underline;
}


/*Home and Contact*/
.home_background {
    background-color: #f7f7f7;
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
    padding-right: 70px;
}

.profile_picture {
    max-width: 100%;
    height: auto;
}

.wrapper {
    margin: auto;
    max-width: 75rem;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .flex_container {
    display: flex;
  }

  .flex_item {
    flex: 1;
    margin-left: 110px;
  }

  .contact_content {
      text-align: center;
  }
  
.contact_img {
    display: inline-block;
    vertical-align: middle;
}

.contact_text {
    display: inline-block;
    vertical-align: middle;
}


/*Portfolio*/

.portfolio_background {
    background-color: #f7f7f7;
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
}

.portfolio_content {
    text-align: center;
}

.CSIT_img {
    max-width: 80%;
}

.portfolio_p {
    padding-left: 20px;
    padding-right: 20px;
}

* {box-sizing: border-box}
.csitSlides, .gtSlides {display: none}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  padding-right: 40px;
}

.prev {
    left: 0;
    padding-left: 40px;
}

.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}

.number {
    color: #000000;
    font-size: 15px;
    padding: 8px 12px;
    top: 0;
}

/*Responsiveness*/

@media screen and (max-width: 1400px) {
    .footer {
        visibility: hidden;
    }
    .footerMobile {
        visibility: visible;
    }
}

@media screen and (max-width: 1000px) {
    .flex_container {
        flex-direction: column-reverse;
    }
    h1 {
        text-align: center;
    }
}

@media screen and (max-width: 750px) {
   .logo {width: 100%;}
   .header-right {
       float: none;
       margin-left: 20%;
       margin-right: 20%;
    }
}

@media screen and (max-width: 635px) {
    .header-right a {
        margin-left: 35%;
    }
    .flex_item {
        margin-left: 0;
    }
    .home_background {
        padding-right: 5px;
        padding-left: 5px;
    }
    
}

@media screen and (max-width: 480px) {
    .header-right a {
        margin-left: 20%;
    }
}